@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400&display=swap";

$font-family-serif: "Roboto", sans-serif;

$text-color: #011e5d;
$bg-color: #f7f7f7;
$text-color-footer: #fff;
$bg-color-footer: #011e5d;
$references-color: #ff0000;

$index-title: #000000;
$index-descriptions: #000000;
$index-bg-descriptions: #c97c2f;

$index-title-grid: #011e5d;
$index-title-grid-desktop: #fff;
$index-descriptions-grid: #fff;
$index-bg-descriptions-grid: #c97c2f;

$members-description: #ffffff;
$members-description-line: #011e5d58;

$news-title-color: #000000db;
$news-description-color: #0000008c;

/*Custom popover bootstrap*/
$popover-header-bg: #c97c2f;
$popover-header-color: #fff;
